@using RaceManager.locales
@{
    ViewData["Title"] = locale.GpxFile;
}

<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-widthn initial-scale=1.0">
		<title>Fichier Gpx</title>
		<link rel="stylesheet" type="text/css" href="CSS/gpx.css">
	</head>
	<body>
		<br /><br /><br /><br />
		<br /><br /><br /><br />
		
			<form method="post" enctype="multipart/form-data">
			 <div>
			   <label for="file">Importer fichier gpx  </label>
			   <input type="file" id="file" name="file" multiple>
			 </div>			
			</form>
		<br /><br /><br /><br />
		<br /><br /><br /><br />
		<br /><br /><br /><br />
		<div class="loader">
			<span></span>
			<span></span>
			<span></span>
			<h2><a href="mode.html">Fichier Gpx</a></h2>
		</div>
	</body>
</html>