@using RaceManager.locales

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widthn initial-scale=1.0">
    <title>Race Manager</title>
    @*<link rel="stylesheet" type="text/css" href="style.css">*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body>
    <div class="container">
        <div class="card">
            <div class="imgBx" data-text="Fichier Grid">
                <img class="image" src="Images-Decor/chef.png">
            </div>
            <div class="content">
                <div>
                    <h3>Fichier Grid</h3>
                    <p>@locale.GridDest</p>
                    @*<a href="Pages/grid.cshtml">Voir plus</a>*@
                    <a class="nav-link" asp-area="" asp-controller="RaceManager" asp-action="Grid">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="Fichier Gpx">
                <img class="image" src="Images-Decor/Maliana.png">
            </div>
            <div class="content">
                <div>
                    <h3>Fichier Gpx</h3>
                    <p>Cet page vous permettra d'importer vos fichier gpx et de les modifier si besoin est.</p>
                    @*<a href="Pages/gpx.cshtml">Voir plus</a>*@
                    <a class="nav-link" asp-area="" asp-controller="RaceManager" asp-action="Gpx">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="Configuration Serveur">
                <img class="image" src="Images-Decor/mode.png">
            </div>
            <div class="content">
                <div>
                    <h3>Configuration</h3>
                    <p>Cette partie dédatille la configuration du serveur, à savoir l'adresse ip et les ports utilisés.</p>
                    @*<a href="@Url.Page("Pages/Config")">Voir plus</a>*@
                    <a class="nav-link" asp-area="" asp-controller="RaceManager" asp-action="Config">Voir plus</a>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="Aide">
                <img class="image" src="Images-Decor/conclu.png">
            </div>
            <div class="content">
                <div>
                    <h3>Paramètre</h3>
                    <p>Cette partie détaille les différents paramètres de l'interface Race Manager.</p>
                    <a href="https://le-clan-des-semi-croustillant.github.io/SRSP-Race-Manager/" target="_blank">Voir plus</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>