@using RaceManager.locales
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-widthn initial-scale=1.0">
		<title>@locale.Param</title>
		<link rel="stylesheet" type="text/css" href="CSS/param.css">
	</head>
	<body>
		
	</body>
</html>