@inherits LayoutComponentBase

<PageTitle>Race Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/Le-clan-des-Semi-Croustillant/SRSP-Race-Manager" target="_blank">See this project on Github</a> 
            <a href="https://le-clan-des-semi-croustillant.github.io/SRSP-Race-Manager/" target="_blank">View docs</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
