@page "/counter"
@using RaceManager.Language

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>


<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p role="status">@Locales.Settings</p>
<button class="btn btn-primary" @onclick="lanSwitch">Switch Language</button>

<div class="BoatTypeListContainer">
    <h2>Title</h2>
    <div class="Content">
        @for (int i = 0; i < currentCount; i++)
        {
            <button class="btn btn-primary" @onclick="lanSwitch">bateau @i </button>
        }
    </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private bool state = false;

    private void lanSwitch()
    {
        state = !state;
        LocaleManager.CurrentCulture = state ? "fr" : "en";
        LocaleManager.UpdateCulture();
    }

}
