@page "/settings"
@using RaceManager.Language
@using Microsoft.AspNetCore.SignalR.Client
@using System.Diagnostics.Eventing.Reader
@using RaceManager.Reading
@*@inject NavigationManager NavigationManager*@

<PageTitle>Settings</PageTitle>
<h3>Port</h3>


<div class="BoatTypeListContainer ">
    <div class="float-left-child" style="margin-right: 30px; min-width : 150% ">
        <div style="margin-bottom: 5%">


            <p> <label> port </label> <input type="text" @bind-value="@(portField.FieldContent)" style=" @portField.Style "> </p>



        </div>
        <p>
            <button class="btn btn-primary" @onclick="Save"> Save </button>

        </p>
    </div>
</div>


@code {
    private int port;
    private RealField<int> portField = new() { FieldContent="00", Label="Port", Value=0};
<<<<<<< Updated upstream
    
=======

>>>>>>> Stashed changes
    bool loaded = false;
    private void Save()
    {


        if (portField.StoreValue())
            port = portField.Value;
        StateHasChanged();
    }



    protected override async Task OnInitializedAsync()
    {
        
        loaded = true;

    }


    private class RealField<T> : AField
    {
        // <summary>
        // The boat type field.
        // </summary>
        public T Value;
<<<<<<< Updated upstream
=======
        private RMLogger logger = new RMLogger(LoggingLevel.DEBUG , "Settings.RealField");
>>>>>>> Stashed changes

        public override bool StoreValue()
        {
            try
            {
                Value = (T)Convert.ChangeType(FieldContent, typeof(T));
                isValid = true;
                Style = "";
<<<<<<< Updated upstream
                Logger.log(LoggingLevel.DEBUG, "BoatTypes.razor", $"{FieldContent} is valid.");
=======
                logger.log(LoggingLevel.DEBUG, "StoreValue()", $"{FieldContent} is valid.");
>>>>>>> Stashed changes

            }
            catch (Exception e)
            {
                //Value = default(T);
                isValid = false;
                Style = "color: red;border-color: red";
<<<<<<< Updated upstream
                Logger.log(LoggingLevel.ERROR, "BoatTypes.razor", $"Error when trying to cast {FieldContent} with \"{e.Message}\"");
=======
                logger.log(LoggingLevel.ERROR, "StoreValue()", $"Error when trying to cast {FieldContent} with \"{e.Message}\"");
>>>>>>> Stashed changes
            }
            return isValid;
        }
    }

}