@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="card">
        <div class="imgBx" data-text="Fichier Grid">
            <img class="image" src="Images-Decor/chef.png">
        </div>
        <div class="content">
            <div>
                <h3>Fichier Grid</h3>
                <p>Cet page vous permettra d'importer vos fichier grid et de les modifier si besoin est.</p>
                <a href="Pages/grid.html">Lire plus</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="imgBx" data-text="Fichier Gpx">
            <img class="image" src="Images-Decor/Maliana.png">
        </div>
        <div class="content">
            <div>
                <h3>Fichier Gpx</h3>
                <p>Cet page vous permettra d'importer vos fichier gpx et de les modifier si besoin est.</p>
                @*<a href="Pages/gpx.html">Lire plus</a>*@
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Gpx.cshtml">Lire Plus</a>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="imgBx" data-text="Configuration Serveur">
            <img class="image" src="Images-Decor/mode.png">
        </div>
        <div class="content">
            <div>
                <h3>Configuration</h3>
                <p>Cette partie dédatille la configuration du serveur , à savoir l'adresse ip et les ports utilisés.</p>
                <a href="Pages/config.html">Lire plus</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="imgBx" data-text="Aide">
            <img class="image" src="Images-Decor/conclu.png">
        </div>
        <div class="content">
            <div>
                <h3>Paramètre</h3>
                <p>Cette partie détaille les différents paramètres de l'interface Race Manager.</p>
                <a href="Pages/param.html">Lire plus</a>
            </div>
        </div>
    </div>

</div>